


.footer{
  background-color:$gryColor;
  padding-top:30px;

  margin-top:50px;
  overflow: hidden;
  .gallery,.info,.contact{
    float:$float-left;
  }
  .gallery{

    @media #{$minSmall} {
      width:100%;
    }

    @media #{$minMedium} {
      width:50%;
    }

    .img-box{
      overflow: hidden;
      margin-bottom: 20px;
     img{

       @media #{$minSmall} {
         float:$float-left;
       }
       width:100px;
       height: 100px;
     }
      .text{
        @media #{$minSmall} {
          float:$float-left;
          margin-left:15px;
          margin-right:15px;
          width:calc(100% - 130px);
        }




        h4{
          color: $redColor;
          margin:20px 0 0;
        }
        p{
          color:#888;
          margin-top:5px;
          line-height: 1.5;
        }
      }
    }
  }
  .info{
    @media #{$minSmall} {
      width:50%;
    }

    @media #{$minMedium} {
      width:25%;
    }

    ul{
      li{
        color:#888;
        text-transform: capitalize;
        span{
          color:$redColor
        }
      }
    }

    .working{
      color:#989898;


    }
    p{
      color:#888;
      margin-top: -13px;
    }
  }

  .contact{
    @media #{$minSmall} {
      width:50%;
    }

    @media #{$minMedium} {
      width:25%;

    }

    input[type='text'],
    input[type='email'],
    textarea{
      margin-bottom: 5px;
      border:1px solid #c9c9c9;
      padding:10px;
      border-radius: 10px;
      width:100%;
    }
    textarea{
      height: 100px;
    }
  }
  .section-title{
    color:#444;
    font-weight: normal;
    text-transform: capitalize;
  }

  .copyright{
    border-top: 1px solid #c5c5c5;
    padding:25px 0;
    color:#888;
    margin-top:30px;
    .text,
    .author{
     float:$float-left;
      width:50%;
      text-transform: capitalize;
      @media #{$maxMobile} {
        float:none;
        width: 100%;
        margin-bottom: 15px;
      }
    }
    .author{
      @media #{$minSmall}{
        text-align: $text-right;
      }

    }

    }
  }


