$float-left:left;
$float-right:right;

$redColor:#e2494b;
$gryColor:#e2e2e2;

$text-right:right;
$text-left:left;


$minSmall: '(min-width: 768px)';
$minMedium: '(min-width: 992px)';
$minLarge: '(min-width: 1200px)';
$maxMobile: '(max-width: 767px)';